.thumbnail img{
	max-height: 200px;
}

.thumbnail .description{
	color: #7F7F7F;
}

.thumbnail .price{
	font-weight: 700;
	font-size: 16px;
}

.panel-body img{
	max-width: 100%;
}

.panel-body .description{
	margin-top: 1em;
}

.panel-body select{
	margin: 0.5em 0;
}